<div id="bgmain" class="text-white">

	<h2>Experience The </h2>
	<h1>Best Trip Ever!</h1>

	<div>
		We are commited to offering travel services of the highest quality, combing our energy and enthusiasm with years of experience.
		<br>
	</div>
</div>
<div class="row">
	<div class="col-4 offset-2">	
		<p>We will make your vacation unforgettable</p>
		<h2>Services we offer:</h2>
		<h3>Travel insurance</h3>
		<p>Travel Insurance is compulsory on all Intrepid trips and is a condition of booking with Intrepid. When selecting a travel insurance policy we require that at a minimum you are covered for medical expenses, including emergency repatriation. We strongly recommend that the policy also covers personal liability, cancellation, curtailment and loss of luggage and personal effects.</p>
	</div>
	<div class="col-6">
		<img id ="picb" src="/assets/volleyball.jpg" alt="">
	</div>


</div>


